/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

:root {
	--note-highlighter-size: 15px;
	--note-highlighter-color: rgb(0, 0, 0);
}

.obsidian-todo-note-highlighter {
	position: absolute;
	width: var(--note-highlighter-size);
	height: var(--note-highlighter-size);
	background-color: var(--note-highlighter-color);
	border-radius: 50%;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}
